.layout {
  width: 100vw;
  min-height: 100vw;
}

.nome {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 21, 41)
}

.preco {
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(0, 21, 41)
}

.categoria {
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(0, 21, 41)
}

.tempo {
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(0, 21, 41)
}
